* {
    box-sizing: border-box;
}

body {
    background-color: #ffb703;
}

.cat-head {
    background: linear-gradient(
        #292929 85%,
        #1F1F1F 100%
    );
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
    position: absolute;
    top: 100px;
    left: 100px;
}